@model StudentListModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{ 
    foreach(var student in Model.Students)
    {
        <h1>@student.Name</h1><h2>@student.StudentRollNumber</h2><br/>
    }
}

