@model CourseListModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    foreach (var course in Model.Courses)
    {
        <h1>@course.Title</h1>
        <h1>@course.Fees</h1>
        <br />
    }
}

